/*-------выводим ошибку при пароле и логине-----------------------*/
#pass_error{
	margin: 10px;
	font-size: 100%; font-family: Verdana, Tahoma, serif;
	color: red;
	font-weight: bold;

}
#captcha_msg{
	margin-top: 10px;
	 
	font-size: 100%; font-family: Verdana, Tahoma, serif;
	font-weight: bold;

}


/* ------------------------------------для входа в смс ----------------------------------------------*/
body {
	margin:	0;
	padding: 0;
	border: 0;
	background: #ffffff;
	font-size: 70.5%; font-family: Verdana, Tahoma, serif;
	height: 100%;
}

form button
  { margin: 5px 0 0 0; padding:0;border:none;background:transparent; cursor: pointer; }
form button img
  { display:block; }
  
#page {
	margin-bottom: -22px;
    padding: 0;
	border: 0;
	/* height: 100%; */
	height: 100%;
	font-size: 1.1em;
}

* img {
border: none;
}

.forsit { border: 0; margin: 50px 0 30px 50px; }
.main_form { margin: 0 0 50px 50px; color: #444444; }
.f { border: 0; }

/* FORMS */
fieldset { /* border: 1px solid #ccc; */ font-family: Verdana, Cambria; font-size: 85.5%; line-height: 1.1em; padding: 0 1em 1em 1em; margin: 0; } /* padding-top is margin-top for fieldsets in Opera */
legend { background: #fff; padding-left: .8em; padding-right: .8em; }
legend+* { margin-top: 1em; } /* compensates for the opera margin bug */
textarea, input[type='text'], input[type='password'], input[type='submint'], select { border: 1px solid #ccc; background: #fff; }
textarea, input { padding: .3em .4em .15em .4em; }
select { padding: .1em .2em .1em .2em; }
option { padding: .1em .4em 0; }
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover { border-color: #aaa; }
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #888; outline: 2px solid #DCDAFC; }
input, select { cursor: pointer; }
input[type='text'], input[type='password'] { cursor: text; }

#footer { width: 100%; height: 22px; }
.blue_footer {
	float: right;
	width: 70%;
	background: url('../img/it/footer-enter.gif') repeat-x;
}

/* ------------------------------------/для входа в смс ----------------------------------------------*/